* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Raleway", sans-serif;
    background: black;
}

header {
    height: 100vh;
    position: relative;
    display: flex;
}

.cover {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
}
.cover-date {
    position: absolute;
    left: 10%;
    bottom: 10%;
    opacity: .7;
    color: white;
}

nav {
    background: #EDBB00;
    z-index: 2;
    height: 13%;
    width: 20%;
    color: #A50044;
    font-weight: bold;
}

.nav-closed {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13%;
    width: 20%;
    position: absolute;
}

.nav-closed ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

.nav-opened{
    position: absolute;
    top: 13%;
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.clothing {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

/* .clothing h2 {
    font-size: 50;
} */

.clothing ul {
    z-index: 2;
    list-style: none;
    width: 100%;
}

.info-li{
    /* justify-content: space-around; */
    padding: 10%;
    height:12.1%;
    width:100%;
    border-bottom: 3px solid #EDBB00;
    text-align: center;
    background-image: url('./images/horizontal-flash@x2.jpg');
}
.clothing ul li a {
    text-decoration: none;
    color: #EDBB00;
    font-weight: 800;
    font-size: x-large;
}

#trophy-list{
    display: flex;
    width: 80%;
    height: 20%;
    top: 0;
    right:0;
    position: absolute;
    justify-content: space-around;
    list-style: none;
    z-index: 2;
    align-items: center;
    padding-left: 3%;
}

.trophies{
    width: 85%;
}

#leo-gif{
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 40%;
}
#grizzi-gif{
    z-index: 1;
    position: absolute;
    opacity: 0;
    top: 25%;
    left: 1%;
    max-height: 40%;
}
#umtiti-gif{
    z-index: 1;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 40%;
}
#forca-gif{
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 20%;
    right: 20%;
    max-height: 20%;
}

/* .nav-images img {
    height: 250px;
} */

/* .nav-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
} */